body{
    margin: 0%;
    padding: 0%;
    font-family: 'PT Sans', sans-serif;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 40px;
}
.highlighted-text{
    color: rgb(226, 200, 82);
}
h3{
    font-size: 25px;
}
p{
    font: 25px;
}
section{
    height: 500px;
    width: 100px;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.half-width a{
    margin-top: 10px;
}
.button-link{
    text-decoration: none;
    border:tomato solid 2px;
    background-image: linear-gradient(45deg, salmon,tomato);
    border-radius: 10px;
    font-size: 17px;
    color: #ffffff;
    font-weight: bold;
    margin-top: 10px;
    padding: 5px 20px;

}
.dream-section{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.box-shadow{
    box-shadow: 20px 20px 30px rgb(94, 67, 64);
    border-radius: 10px;
    height: 300px;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 7%;
}
#stack{
    border-left: 6px solid;
    border-image: linear-gradient(180deg, yellow, tomato );
    border-image-slice: 1 ;
}
#baby{
    border-left: 6px solid;
    border-image: linear-gradient(180deg, rgb(243, 156, 237), rgb(89, 7, 105) );
    border-image-slice: 1 ;
}
footer p{
    text-align: center;
    font-size: 15px;
}